<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title class="ion-text-center">Login Form</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <form #form="ngForm" (ngSubmit)="loginForm(form)">
              <ion-item>
                <ion-input
                  name="email"
                  type="email"
                  pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})"
                  inputmode="email"
                  placeholder="your@mail.com"
                  ngModel
                  required
                ></ion-input>
                <ion-icon slot="start" ios="mail-outline" md="mail-sharp"></ion-icon>
              </ion-item>
              <ion-item>
                <ion-input
                  name="password"
                  type="password"
                  placeholder="Password"
                  ngModel
                  required
                ></ion-input>
                <ion-icon slot="start" ios="lock-closed-outline" md="lock-closed-sharp"></ion-icon>
              </ion-item>
              <ion-button
                class="ion-padding"
                size="large"
                expand="block"
                shape="rounded"
                type="submit"
                [disabled]="form.invalid"
              >
                Login
              </ion-button>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="fingerAvailable">
      <ion-col size="12">
        <ion-button (click)="showFingerprintLoad()" expand="block" color="secondary" shape="round">
          <ion-icon slot="end" name="scan"></ion-icon>
          Biometric Authenticate
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>